<div class="hero-body">
  <p class="title">
    Game Blog by David Jeffrey
  </p>
  <p class="subtitle">
    This is a portfolio piece created by David Jeffrey using Phoenix Elixir, Bulma, and Postgresql.
    This site is a basic smaller social media site where people can create a profile, post blogs about games in their repsective communities,
    and like posts and follow other users.
  </p>
</div>
